<div class='text-center titles-with-yellow'>
  <h1>Search</h1>
</div>
<div class='container'>
  <div class='text-center search-bar'>
    <%= form_tag search_path, method: :get  do %>
      <div class="inner-addon right-addon">
        <i class="glyphicon glyphicon-search"></i>
        <%= text_field_tag :id, params[:id], class: 'form-control' %>
      </div>
    <% end %>
  </div>
</div>

<div>
<% for k in 0...@counter %>
  <% @invention = @searchCount[k]["invention"]["value"] %>
  <% if params[:id] == @invention %>
    <table class="table">
      <caption>RESULTS</caption>
      <tr>
	      <th scope="col" class="th">Filing Date</th>
        <th scope="col" class="th">Lodged Date</th>
        <th scope="col" class="th">Address</th>
        <th scope="col" class="th">Organization</th>
        <th scope="col" class="th">Postal Code</th>
      <tr>
        <td class="td"><%= @searchCount[k]["fDate"]["value"] %></td>
	      <td class="td"><%= @searchCount[k]["lDate"]["value"] %></td> 
	      <td class="td"><%= @searchCount[k]["address"]["value"]%></td>
	      <td class="td"><%= @searchCount[k]["organization"]["value"] %></td>
	      <td class="td"><%= @searchCount[k]["postcode"]["value"] %></td>
      </tr>
    </table>
  <% end %>
<% end %>
</div>
